.vscode
build/
/lib/
bin/
obj-x86_64-linux-gnu/
debian/tmp/
debian/files/
debian/lingmo-sdk-disk/
debian/lingmo-sdk-disk-dev/
debian/lingmo-sdk-filesystem/
debian/lingmo-sdk-filesystem-dev/
debian/lingmo-sdk-hardware/
debian/lingmo-sdk-hardware-dev/
debian/lingmo-sdk-package/
debian/lingmo-sdk-package-dev/
debian/lingmo-sdk-proc/
debian/lingmo-sdk-proc-dev/
debian/lingmo-sdk-sysinfo/
debian/lingmo-sdk-sysinfo-dev/
debian/lingmo-sdk-system/
debian/lingmo-sdk-system-dev/
debian/lingmo-sdk-systime/
debian/lingmo-sdk-systime-dev/
debian/lingmo-sdk-processmanage/
debian/lingmo-sdk*.substvars
debian/lingmo-sdk*.debhelper
debian/.debhelper
