[Unit]
Description=LINGMO SDK SYSTIME DBUS

[Service]
Type=dbus
Restart=always
RestartSec=0
BusName=com.kysdk.base
ExecStart=/usr/bin/kysdk-logrotate

[Install]
WantedBy=multi-user.target
