[Unit]
Description=LINGMO SDK SYSTIME DBUS

[Service]
Type=dbus
Restart=always
RestartSec=0
BusName=com.lingmo.kysdk.TimeServer
ExecStart=/usr/bin/systime

[Install]
WantedBy=multi-user.target
