[Desktop Entry]
Type=Application
Exec=/usr/bin/httpServer
Name=kysdk-httpServer
Comment=provide kysdk dbus js interface
X-MATE_Autostart-Delay=15
NoDisplay=true
