[Desktop Entry]
Type=Application
Exec=/usr/bin/kysdk-dbus-websocket
Name=kysdk-dbus-websocket
Comment=provide kysdk dbus js interface
X-MATE_Autostart-Delay=15
NoDisplay=true
